{% spaceless %}
<!doctype html>
<html>
    <head>
        {% block head %}
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="/css/style.css">
        {% endblock %}
    </head>

    <body>
        <div id="site">
            <div id="stat" class="compartiment">
                <ul class="inline_menu">
                    <li><span id="or">{{ app.current_gold }}</span> gold</li>
                    <li><span id="xp">{{ app.current_xp }}</span> XP</li>
                </ul>
            </div>
            <div class="groupe_compartiment">
                <div class="compartiment menu menu_top">
                    <table>
                        <tbody>
                            <tr>
                                <td class="menu_item"><a href="/mine">Mine</a></td>
                                <td class="menu_item"><a href="/army">Army</a></td>
                                <td class="menu_item"><a href="/attack">Attack</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            {% block main %}{% endblock %}
        </div>
    </body>
</html>
{% endspaceless %}
